@model MvcLabManager.Models.Lab

@{
    ViewData["Title"] = "Atualizar Laboratório";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form action="UpdateLab" method="post">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" class="form-control" required>

        <label for="setor">Setor: </label>
        <input type="text" name="setor" id="setor" class="form-control" required>

        <button type="submit">Enviar</button>
    </form>
</div>